.h1{
    color: rgb(255, 0, 195);
    text-align: center;
    text-decoration: underline;
    transition: 2s;  
}
.h1:hover{
    color: aqua;
    zoom: 125%;
}
.container{
    width: 40vh;
    height: 60vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;  
}
